{{casa |json}}

<div class="thumbnail">
                               
                          
    <img src="{{casa.foto}}" alt="cccc">
    <div class="caption">
        <h3>{{casa.nombre}}   <p>{{casa.precio}}</p></h3>
           <p>{{casa.direccion}}</p>
           <p>Habitaciones: {{casa.habitaciones}}</p>
           <label for="">Servicios</label>
           <ul>
           
           <li *ngFor="let servicio of casa.servicios">
            <input type="checkbox" [checked]="servicio.disponible"> {{servicio.nombre}}
        
          </li>
        </ul>
    </div>
 </div>